
.metadata/*
*.zip

*.snap
bigw/target/
bigw/bigw-api/target/
bigw/bigw-webapp/target/

asset-repository/assets-zip/target/
archetype-resources/target/
cmserver/ep-cmserver*/target/
cmserver/target/third-party-licensing.xml
common-web/ep-common-web/target/
core/ep-*/target/
core/target/third-party-licensing.xml
ep-assets/prepare-assets/target/
ep-cryptotool/target/
ep-test-application/target/
ep-test-utils/target/
geoip/ep-*/target/
importexport/ep-*/target/
liquibase/core-schema/target/
liquibase/liquibase-extensions/target/
liquibase/schema-extension-archetype/target/
payment-gateway-connectivity/ep-*/target/
payment-gateway-connectivity/target/third-party-licensing.xml
querylanguage/ep-querylanguage/target/
search/ep-*/target/
storefront/ep-*/target/
stores/*/target/
sync/ep-*/target/
osgi-wrappers/com.elasticpath.cmclient.libs/target/
osgi-wrappers/com.elasticpath.cmclient.testlibs/target/
cmclient/com.elasticpath.cmclient.*/target/
cmclient/product/target/
target/third-party-licensing.xml
jms/activemq-broker/target/
jms/ep-jms/target/
ep-test-support/target/
messaging/ep-messaging-*/target/
ep-assets/application-assets/target/
ep-assets/target/
extensions/stores/wine-assets/src/main/assets/customerAssets/perfil/
extensions/stores/wine-assets/src/main/assets/images/produtos/

MANIFEST.MF

# arquivos nativos mac
.DS_Store
Thumbs.db

# arquivos gerais
*.swp
*.swo
*.swm
*.swn
*.pyc
*.log
*.class
*.ast
*.jasper
*.jar
*.war
*.ear
.classpath
.project
.settings
.checkstyle
.pmd
.ruleset
.springBeans
.pmdruleset.xml
.metadata/
.recommenders/
.sonarlint/*
Servers/
cmserver/ep-cmserver-webapp-archetype/src/main/resources/archetype-resources/src/tomcat/context.xml

cmserver/ep-cmserver-webapp-archetype/src/main/resources/archetype-resources/src/tomcat/context.xml

extensions/storefront/wine-storefront-webapp/src/tomcat/context.xml

search/ep-search-webapp-archetype/src/main/resources/archetype-resources/src/tomcat/context.xml

storefront/ep-storefront-webapp-archetype/src/main/resources/archetype-resources/src/tomcat/context.xml

extensions/search/wine-search-webapp/src/tomcat/context.xml

giran/env-configs/dev/logs/

# Front End
node_modules
bower_components
**/template-resources/build/*
**/dev-resources/*/js/templates/
env/assets/themes/.project
.sublime-grunt.cache
commerce-engine/search/ep-search-acceptance-tests/src/assets/conf/resources/ruleUpdate.properties

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap

.metadata/.log
